@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 60px;
    font-family: 'Raleway', sans-serif;
}

.card {
    width: 450px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1rem;
    padding: 50px 80px;
}

.card h3 {
    text-align: center;
    font-weight: 600;
    color: #de6943;
}

form {
    margin: 30px auto;
}

form .input input {
    width: 100%;
    margin: 5px 0;
    border-color: rgba(0,0,0,0.05);
    background-color: #f1f1f1;
    border-radius: 0.4rem;
    padding: 0.6rem;
}

form .input input:focus {
    border-color: #de6943;
}

.submit {
    background-color: #de6943;
    padding: 0.6rem;
    color: white;
    border-radius: 0.4rem;
    border: none;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
}
